<div style="background: #F5F5F5; width: 659px; margin:auto auto auto auto">
  <div class= "form-group" style=" padding: 50px 50px 50px 50px;width:659px ;margin:auto auto">
    <%= form_for @user do |form| %>

        <h4>新用户注册</h4>
        <%= render 'shared/link_to_login' %>
        <%= render :partial => 'shared/text_field', :locals => {:form => form,
                                                                :span_text => '帐号',
                                                                :user_attribute => :name,
                                                                :placeholder_show => '请输入帐号'} %>

        <%= render :partial => 'shared/password_field', :locals => {:form => form,
                                                                    :span_text => '请设置密码',
                                                                    :user_attribute => :password,
                                                                    :placeholder_show => '请输入密码'} %>
        <%= render :partial => 'shared/password_field', :locals => {:form => form,
                                                                    :span_text => '请确认密码',
                                                                    :user_attribute => :password_confirmation,
                                                                    :placeholder_show => '请再次输入密码'} %>
        <%= render :partial => 'shared/text_field', :locals => {:form => form,
                                                                :span_text => '忘记密码问题',
                                                                :user_attribute => :question,
                                                                :placeholder_show => '请输入忘记密码问题'} %>
        <%= render :partial => 'shared/text_field', :locals => {:form => form,
                                                                :span_text => '忘记密码答案',
                                                                :user_attribute => :answer,
                                                                :placeholder_show => '请输入忘记密码答案'} %>
          <% if @user.errors.any? %>
              <dd class="flash-error text-center" style="margin-top: 15px"><%= @user.errors.full_messages.first %></dd>
          <% end %>
        <div class="text-center">
          <%= form.submit "注册", :class => "btn btn-default", :style => 'margin:20px auto auto auto ;width:150px' %>
        </div>

    <% end %>

  </div>
</div>



