.panel.panel-default{:style => "margin-left: 180px; margin-right: 180px"}
  .panel-heading
    活动信息
    %a.btn.btn-default{:href => "user/synchronous_show_view", :disabled => !@biding.name, :style => "margin-left: 700px; margin-right: 46px"} 同步展示
  %table.table{:style => "text-align: center"}
    %tr
      %td 编号
      %td 活动名称
      %td 报名人数
      %td 竞价次数
    - @activity_infos.each do |activity_info|
      %tr
        %td
          = @count += 1
        - @activity_sign_ups_count = ActivitySignUp.where(:user_name => session[:user_name], :activity_name => activity_info.name).length
        %td= link_to activity_info.name, bid_list_view_path(:activity_name => activity_info.name, :activity_sign_ups_count => @activity_sign_ups_count), :style=> "color: #1E90FF"
        %td= link_to @activity_sign_ups_count, activity_sign_up_list_view_path(:activity_name => activity_info.name, :activity_sign_ups_count => @activity_sign_ups_count), :style=> "color: #1E90FF"
        %td= link_to (Bid.where(:user_name => session[:user_name], :activity_name => activity_info.name)).length, bid_list_view_path(:activity_name => activity_info.name, :activity_sign_ups_count => @activity_sign_ups_count), :style=> "color: #1E90FF"
= render :partial => 'shared/will_paginate', :locals => {:array => @activity_infos}