.user_and_reset_password_view_background
  - if !is_edit_user_view
    = render 'shared/reset_password_title'
  = form_for :user, :url => url do |form|
    - if is_edit_user_view
      = render :partial => 'shared/text_field', :locals => {:form => form,
                                                          :span_text => '帐号',
                                                          :user_attribute => :name,
                                                          :disabled => true,
                                                          :placeholder_show => @user_name}

    = render :partial => 'shared/password_field', :locals => {:form => form,
                                                          :span_text => '请设置密码',
                                                          :user_attribute => :password,
                                                          :disabled => false,
                                                          :placeholder_show => '请输入新密码'}

    = render :partial => 'shared/password_field', :locals => {:form => form,
                                                          :span_text => '请确认密码',
                                                          :user_attribute => :password_confirmation,
                                                          :disabled => false,
                                                          :placeholder_show => '请再次输入新密码'}
    = render 'shared/flash_message'
    = render :partial => 'shared/submit_button', :locals => {:form => form, :submit_button_text => '确认修改'}
